<div class="Container">
    <app-navbar-auth/>
    <div class="main">
        <div class="sub">
            <div class="left">
            </div>
            <div class="content">
                <div class="title">
                    <div class="title-area">
                        <div class="title-main">
                            <h1 class="text1">Login</h1>
                        </div>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="form-sub">

                        <form #loginForm="ngForm" (ngSubmit)="submit(loginForm.value)" autocomplete="off">
                            <div class="textbox1">
                                <h2 class="label1">Email/phone number</h2>
                                <div class="input1">
                                    <div class="input-sub">
                                        <input type="email" name="username" ngModel autocomplete="off" autocapitalize="off" class="text-area">
                                    </div>
                                </div>
                                <div class="divide1"></div>
                            </div>

                            <div class="textbox1">
                                <h2 class="label1">Password</h2>
                                <div class="input1">
                                    <div class="input-sub">
                                        <input type="password" name="password" ngModel autocomplete="off" autocapitalize="off" class="text-area">
                                    </div>
                                </div>
                                <div class="divide1"></div>
                            </div>



                            <button class="btn1">Next</button>


                        </form>

                        <div class="main-sub">
                            <div class="sep">
                                <div class="line"></div>
                                <div class="line-text">or</div>
                                <div class="line"></div>
                            </div>

                            <div class="buttons">
                                <div class="button1">
                                    <div class="wrapper">
                                        <button class="google">
                                            <img src="../../../assets/google.png" class="image" alt="">
                                            <div class="img-txt">Google</div>
                                        </button>
                                        <div class="sep2"></div>
                                    </div>
                                </div>
                                <div class="button1">
                                    <button class="apple">
                                        <img src="../../../assets/apple.png" class="image" alt="">
                                        <div class="img-txt">Apple</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
   </div>
</div>