.main{
    box-sizing: border-box;
    display: flex;
    background-color: #181A20;
    height: 64px;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    height: 64px;
    user-select: none;
}
.main-title{
    box-sizing: border-box;
    display: flex;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    color: #EAECEF;
    align-items: center;
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
    height: 100%;
    color: #F0B90B;
    flex: none ;
    text-decoration: none;
}
.sub{
    box-sizing: border-box;
    display: flex;
    color: #EAECEF;
    overflow: hidden;
    align-items: center;
}
.sub-market{
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    height: 100%;

}
.market{
    box-sizing: border-box;
    display: flex;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    color: #EAECEF;
    align-items: center;
    position: relative;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
    height: 100%;
}
.sep{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 8px;
}
.wrapper{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}
.login{
    margin: 0px;
    appearance: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    line-height: 20px;
    word-break: keep-all;
    border-radius: 4px;
    min-height: 24px;
    border: none;
    background-color: transparent;
    color: rgb(234, 236, 239);
    font-weight: 400;
    padding: 0px;
    min-width: 0px
}
.register{
    margin: 0px;
    appearance: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 6px 12px;
    line-height: 20px;
    min-width: 52px;
    word-break: keep-all;
    color: rgb(24, 26, 32);
    border-radius: 4px;
    min-height: 24px;
    border: none;
    background-image: none;
    background-color: rgb(252, 213, 53);
    font-weight: 400;
}