
<div class="container">
  <app-navbar-auth/> 

<div class="main">
    <div class="sub">
        <div class="sub2">
            <div class="sub-col">
                <div class="content-box">
                    <div class="content-main">
                        <div class="content-main-sub">
                            <h1 class="text-head">Create Personal Account</h1>
                            <div class="divide"></div>
                            <div class="form-box">
                            <form action="#" class="form-main" autocomplete="off">
                                
                                <div class="input1">
                                    <div class="label1">Email/Phone number</div>
                                    <div class="textbox1">
                                        <div class="divide1">
                                            <div class="textbox1-main">
                                                <input type="text" class="box1" name="username" autocomplete="off" autocapitalize="off">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                
                                <div class="divide2"></div>
                                <div class="input2">
                                    <div class="label1">Password</div>
                                    <div class="textbox1">
                                        <div class="textbox2">
                                            <input type="text" class="box2" autocapitalize="off" autocomplete="off">

                                        </div>

                                    </div>

                                </div>
                                <div class="divide2"></div>
                                <button class="Register">Register</button>
                                
                            </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>