
<div class="container">
  <app-navbar-auth/>

<div class="main">
    <div class="sub">
        <div class="sub2">
            <div class="sub-col">
                <div class="content-box">
                    <div class="content-main">
                        <div class="content-main-sub">
                            <h1 class="text-head">Create Personal Account</h1>
                            <div class="divide"></div>
                            <div class="form-box">

                            <form class="form-main" #registerForm="ngForm" (ngSubmit)="submit(registerForm.value)" autocomplete="off">

                                <div class="input1">
                                    <div class="label1">Email/Phone number</div>
                                    <div class="textbox1">
                                        <div class="divide1">
                                            <div class="textbox1-main">
                                                <input type="email" class="box1" ngModel name="username" autocomplete="off" autocapitalize="off">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="divide2"></div>
                                <div class="input2">
                                    <div class="label1">Password</div>
                                    <div class="textbox1">
                                        <div class="textbox2">
                                            <input type="password" class="box2" ngModel name="password" autocapitalize="off" autocomplete="off">

                                        </div>

                                    </div>

                                </div>
                                <div class="divide2"></div>
                                <button class="Register" type="submit" >Register</button>


                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
