<div class="main">
  <div class="top-main">
    <div class="top-head">
      <div class="top-wrapper">
        <div class="head">
          Market Overview
        </div>
        <div class="top-wrapper2">
          <div class="head2">
            <div class="title">
              Trading data
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-cont">
    <div class="main-card">
      <div class="card">
        <div class="card-title">
          <div class="head3">
            Highlight coin
          </div>
      </div>
    </div>
  </div>

</div>
